In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import statsmodels.formula.api as smf
%matplotlib inline

In [4]:
stock_prices = pd.read_csv('C:/Users/zachx/Documents/Data_Bootcamp/stock_prices_latest.csv')

In [5]:
stock_prices

,symbol,date,open,high,low,close,close_adjusted,volume,split_coefficient
0,MSFT,5/16/2016,50.80,51.96,50.75,51.83,49.7013,20032017,1.0
1,MSFT,1/16/2002,68.85,69.84,67.85,67.87,22.5902,30977700,1.0
2,MSFT,9/18/2001,53.41,55.00,53.17,54.32,18.0802,41591300,1.0
3,MSFT,10/26/2007,36.01,36.03,34.56,35.03,27.2232,288121200,1.0
4,MSFT,6/27/2014,41.61,42.29,41.51,42.25,38.6773,74640000,1.0
...,...,...,...,...,...,...,...,...,...
1048570,BOKF,10/4/2010,45.09,45.41,44.83,45.00,36.9596,99100,1.0
1048571,BOKF,1/19/2007,52.51,52.66,52.33,52.63,40.2866,31500,1.0
1048572,BOKF,10/6/2011,48.11,48.81,47.16,48.74,40.8965,137700,1.0
1048573,BOKF,4/13/2011,52.19,52.39,51.13,51.13,42.4157,32800,1.0
1048574,BOKF,1/27/2000,17.72,17.72,16.63,16.63,11.0822,31400,1.0

In [6]:
dataset_summary = pd.read_csv('C:/Users/zachx/Documents/Data_Bootcamp/dataset_summary.csv')

In [7]:
dataset_summary

,symbol,total_prices,stock_from_date,stock_to_date,total_earnings,earnings_from_date,earnings_to_date
0,A,5274,1999-11-18,2020-11-03,46,2009-05-14,2020-08-18
1,AA,1009,2016-11-01,2020-11-03,16,2017-01-24,2020-10-14
2,AAAP,574,2015-11-11,2018-07-18,0,NaN,NaN
3,AABA,5486,1998-01-02,2020-03-10,14,2014-01-28,2017-04-18
4,AAC,1294,2014-10-02,2020-07-02,22,2014-11-05,2019-08-30
...,...,...,...,...,...,...,...
7781,ZVO,2914,2009-04-15,2020-11-06,6,2019-05-09,2020-10-28
7782,ZX,1784,2011-05-16,2018-07-19,0,NaN,NaN
7783,ZYME,893,2017-04-28,2020-11-11,15,2017-05-15,2020-11-03
7784,ZYNE,1089,2015-08-05,2019-11-29,22,2015-08-27,2020-11-09
7785,ZYXI,4479,2002-12-31,2020-11-12,8,2019-02-26,2020-10-27

In [8]:
earnings_latest = pd.read_csv('C:/Users/zachx/Documents/Data_Bootcamp/earnings_latest.csv')

In [10]:
earnings_latest

       symbol        date      qtr  eps_est   eps release_time
0           A  2009-05-14  04/2009      NaN   NaN         post
1           A  2009-08-17  07/2009      NaN   NaN         post
2           A  2009-11-13  10/2009      NaN   NaN          pre
3           A  2010-02-12  01/2010      NaN   NaN          pre
4           A  2010-05-17  04/2010      NaN   NaN         post
...       ...         ...      ...      ...   ...          ...
160655   ZYXI  2019-10-29       Q3    0.057  0.06         post
160656   ZYXI  2020-02-27       Q4    0.077  0.09         post
160657   ZYXI  2020-04-28       Q1    0.063  0.09         post
160658   ZYXI  2020-07-28       Q2    0.086  0.09         post
160659   ZYXI  2020-10-27       Q3    0.053  0.04         post

[160660 rows x 6 columns]

In [11]:
dividends_latest = pd.read_csv('C:/Users/zachx/Documents/Data_Bootcamp/dividends_latest.csv')

In [12]:
dividends_latest

       symbol        date  dividend
0        MSFT  2016-11-15    0.3900
1        MSFT  2011-05-17    0.1600
2        MSFT  2008-05-13    0.1100
3        MSFT  2011-02-15    0.1600
4        MSFT  2012-02-14    0.2000
...       ...         ...       ...
250144   EBTC  2020-11-09    0.1750
250145   EFAS  2020-11-04    0.0525
250146   EFBI  2020-11-12    0.0500
250147    CDL  2020-11-12    0.1111
250148   FANG  2020-11-10    0.3750

[250149 rows x 3 columns]

In [13]:
gross_output = pd.read_csv('C:/Users/zachx/Documents/Data_Bootcamp/gross_output.csv')

In [16]:
gross_output.head(20)
#Gonna have to do a LOT of dataset cleaning and shaping for this one

,Gross Output by Industry,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,[Billions of dollars] Seasonally adjusted at a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Last Revised on: September 30, 2020",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Line,NaN,2018,2018,2018,2018,2019,2019,2019,2019,2020,2020
4,Line,NaN,Q1,Q2,Q3,Q4,Q1,Q2,Q3,Q4,Q1,Q2
5,1,All industries,35838.6,36453,36916.7,37205.3,37377.9,37709.1,37991.1,38189.9,37826.8,34260
6,2,Private industries,31958.1,32523.1,32940.9,33195.7,33349.6,33632.4,33887,34052.5,33685.4,30215.1
7,3,"Agriculture, forestry, fishing, and hunting",457.1,460.9,449.9,454.8,447,448.4,453,461.3,467.7,416.6
8,4,Farms,401.1,405,395.8,400.9,392.3,394.1,399.1,405.9,413.1,367.9
9,5,"Forestry, fishing, and related activities",56,55.9,54.1,53.8,54.6,54.2,53.9,55.4,54.6,48.7
10,6,Mining,571.9,602.5,637,630.9,587.1,593.7,569.1,569.8,510,329.2
11,7,Oil and gas extraction,369.9,393.2,431.2,427,382.8,382.4,363.3,372.3,313.4,176.5
12,8,"Mining, except oil and gas",108.3,112,109.2,110.7,111.1,115.1,110.7,111.3,110,95.3
13,9,Support activities for mining,93.6,97.3,96.5,93.2,93.2,96.3,95.2,86.1,86.5,57.4
14,10,Utilities,514.4,519.9,511.2,519.7,514.3,501.1,500.1,497.4,481.2,478.4
15,11,Construction,1621,1658.8,1659.6,1633,1667.4,1678,1695.8,1718.7,1775.9,1709.9
16,12,Manufacturing,6071.7,6170.2,6282.9,6312.4,6287.6,6290.2,6249,6210.2,6116.3,5333.4
17,13,Durable goods,3059.6,3114.3,3196.5,3246.7,3269.4,3243.6,3222.5,3190.6,3126.1,2693.9
18,14,Wood products,119.6,120.6,122.1,117.7,117.7,116.2,117.6,118.7,118.7,111.9
19,15,Nonmetallic mineral products,130,133.5,133.6,133.9,135.1,137.4,139.4,137.3,137.1,135.8